phpClass/uploads/*
python-school/test/*.png 
*.json 
python-school/__pycache__ 
*.exe
c-school/yhprojects/   
.vscode/
.ipynb_checkpoints
data-vision-school/big_csv_files
streamlit/day01/data
streamlit/day02/data
streamlit/day02/temp
streamlit/day03/data
*.pyc 
flask_api/recipe-api/config/config.py
