원 html파일내용
<ol>
<li id="special">First</li>
<li>Second</li>
</ol>
<h1 id="speial">Hello </h1>
<button>Button 1</button>
<button>Button 2</button>
<div class="red"></div>
<div class="blue"></div>
<a href="naver.com">Naver</a>
<a href="googlenaver.com">Google</a>
<a>Empty</a>


css: cascading style sheet
작은폭포, 연속성 

지정된 순서는 (우선순위는...?)
1. Author style (내가 만든 스타일)
    ↓↓↓↓↓↓
2. user style (사용자가 브라우저에서 지정한 스타일)
    ↓↓↓↓↓↓
3.browser (브라우저에서 자동으로 지정된 스타일)
    ↓↓↓↓↓↓

이런식으로 떨어지기 떄문에 CASCADING의 의미
*참고: 이 연결고리를 쓰는 것은 !important 를 사용 (연결고리를 무시. )
*하지만 현업에선는 bad smell 이라고 하면 나쁜 구조가 될 수 있다
*가능하면 안쓰는것이 좋다!

Selectors (선택자)
    universal 은 *
    Type 은 tag
    id 는 #id 
    Class 는 .class  
    state 는 :  
    attribute 는 []


    /* selector {
        property: value;
      }
      로 하는 것이 기본 형태
      */
      
      /*universal selector */
      * {
  color: green;
}

li {
  color: blue;
}

/* id selector // id가 special로 지정해놓은것 선택 */
#special {
  color: pink;
}
/* id중 li에만 지정되게 하고 싶으면 li#id로 한다
      li#special {
        color: pink;
      }
      */

/* class selector // class가 red 인것들을 선택 */
/*
      .red {
        background: yellow;
      }
      */
/* <div>태그에 아무것도 안되어 있으면 안나오지만
      width와 height를 지정하면 변한다.
      */

.red {
  width: 100px;
  height: 100px;
  background: yellow;
}

button:hover {
  color: red;
  background: beige;
}

a[href='naver.com'] {
  color: purple;
}

/*
      a[href^=naver.com"] {
      ^의미는 naver.com으로 시작하는 것들 다 선택  
      또는
      a[href$=".com"]
      $의미는 .com으로 끝나는 것들 다 선택
      color: purple;
      }
      */

.red {
  width: 100px;
  height: 100px;
  padding: 20px 0px;

  /*padding은 content의 여유공간*/
  /*
  padding-top: 100px;
  padding-right: 100px;
  이렇게 따로 지정할 수 있다
  또는
  시계방향으로 지정
   padding: 20px 20px 20px 20px;
  또는 위아래만 지정
   padding: 20px 0px;
  */

  margin: 20px;
  /* content 바깥쪽의 공간*/
  /* margin도 padding 과 같은 방식으로 값을 주는게 가능*/
  /* border도 따로따로 설정할 수도 있고 한번에 줄 수도 있다*/
  /*
  border-width: 2px;
  border-style: solid;
  border-color: pink;
  */
  /*역시 하는 방법은 mdn 사이트에서 css부분 찾아보면 자세히 나와있다*/
  border: 2px dashed red;
  background: yellow;

  /*참고: https://flukeout.github.io/ 게임을 통해서 배우는 사이트 */
}
